*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 1rem;
}

.products{
    background: rgb(90, 156, 194);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: black solid 3px;
    padding: 3px;
    
}

a {
    text-decoration: none;
}

h2{
    color: rgb(34, 248, 6);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    color: rgb(129, 79, 79);
    gap: 1rem;
}

h3{
    text-align: center;
    color: cyan;
}

h4{
    text-align: center;
    color: cyan;
}

.cartWrapper{
    position: relative;
    width: fit-content;
}

.cart{
    position: absolute;
    width: 300px;
    background-color: white;
    right: 0;
    top: 2rem;
    border-radius: 5px;
    border-color:black;
}

.cart:before{
    content: " ";
    height: 1rem;
    z-index: 5;
    position: absolute;
    bottom: 1.3rem;
    right: 0.2rem;
    border:1rem solid transparent;
    border-bottom-color: white;
    border-bottom-width: 1rem; 
    border-radius:5px ;
}