*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 1rem;
    max-width: 1024px;
    margin: 2rem auto;
    align-items: stretch;
    top: 20rem;
}

.products{
    background: rgb(90, 156, 194);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: black solid 3px;
    padding: 3px;

    
}

a {
    text-decoration: none;
}

h2{
    color: rgb(34, 248, 6);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    color: rgb(65, 66, 64);
    gap: 1rem;
}

h3{
    text-align: center;
    color: cyan;
}

h4{
    text-align: center;
    color: cyan;
}

.cartWrapper{
    position: relative;
    width: fit-content;
}

#cart {
    z-index: 2;
}

.cart{
    position: absolute;
    width: 300px;
    background-color: white;
    right: 0;
    top: 2rem;
    border: 1px solid black ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    gap: 0.3rem;
}

/* .cart:before{
    content: " ";
    height: 1rem;
    z-index: 0;
    position: absolute;
    top: -2.5rem;
    right: 0.2rem;
    border:0.7rem solid transparent;
    border-bottom-color: white;
    border-bottom-width: 1rem; 
    border-radius:5px ;
} */

.cart li{
    list-style: none;
    background-color: rgb(13, 187, 187);
    padding: 0.2rem;
    border-radius: 0.2rem;
}